<!DOCTYPE html>
<html>
<head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Permanent Marker');
  </style>
  <header id="header-background">
    <h1 class="title"> <%= link_to('Color-Fu', '/') %> </h1>
  </header>
  <title>Color-Fu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag "application" %>

  <%= csrf_meta_tags %>

</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Explore</a></h1>
      </li>

    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to('Create Something Beautiful', '/palettes/new') %></li>
      </ul>
    </section>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>

        <%- end -%>
      </ul>
      </div>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
